<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> Все типы данных </title>
</head>
<body style="font-size:18px;">
    <p style="text-align: center"> <a href="{% url 'home' %}"> Главная</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a href="{% url 'about' %}"> О нас</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a href="{% url 'pri_group' %}"> Группа ПрИ-201</a></p> <br><br><br>

    <p>
        int : {{ int }} <br><br>
        float : {{ float }} <br><br>
        string : {{ str }} <br><br>
        list : {% for item in list %}
            {{ item }}
        {% endfor %} <br><br>
        dict : {% for key, value in dict.items %} <br>
            ____{{ key }} : {{ value }}
        {% endfor %}<br><br>
        tuple : {% for item in tuple %}
            {{ item }}
        {% endfor %}<br><br>
        set : {% for item in set %}
            {{ item }}
        {% endfor %}<br><br>
        bool : {{ bool }}<br><br>
        function : {{ func }}<br><br>
        object : {{ object }}<br><br>
    </p>
</body>
</html>