<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> Функция Split_line </title>
</head>
<body style="font-size:18px;">
    <p style="text-align: center"> <a href="{% url 'home' %}"> Главная</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a href="{% url 'about' %}"> О нас</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a href="{% url 'pri_group' %}"> Группа ПрИ-201</a></p> <br><br><br>

    <h1>{{ empty }}</h1>
    <h3>{{ first_str }} </h3>
    <p>{{ second_str }} </p>

</body>
</html>