<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <body style="font-size:18px;">
    <p style="text-align: center"> <a href="{% url 'home' %}"> Главная</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a href="{% url 'about' %}"> О нас</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a href="{% url 'pri_group' %}"> Группа ПрИ-201</a></p> <br><br><br>

    {% block content1 %}

    <h1> {{post.title}} </h1>

    <p>
        {{post.content}}
    </p>

    {% endblock %}

</body>
</html>